    background: rgba(255, 255, 255, 0.8); /* Fundo branco com leve transparência */
    padding: 10px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para uma aparência moderna */
    width: 220px; /* Largura fixa para cada depoimento */
}

.testimonial img {
    width: 100%; /* Ocupa 100% da largura do contêiner pai */
    max-width: 180px; /* Largura máxima */
    height: auto; /* Altura automática para manter a proporção */
    border: 5px solid #007bff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.testimonial p {
    margin: 10px 0; /* Ajusta a margem do parágrafo */
}

.price {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px; /* Adiciona margem acima do rodapé */
}